@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik+Glitch&display=swap');

*{
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: #000000 #7d7d7d;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    color: rgb(255, 255, 255);
    line-height: 1.6;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2.5em;
}

a{
    text-decoration: none;
    color: #fff;
    display: block;
}

 nav ul, li{
    list-style-type: none;
}

nav ul{
    display: flex;
    justify-content: space-around;
    padding: auto 20px;
    
}

nav{
    width: 100%;
    padding: 20px;
    background: #111;
    font-size: 20px;
}

.logo{
    float: left;
    display: block;
    padding: 15px;
    font-size: 25px;
}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    background: url(/assets/img/Portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ofertas{
    display: flex;
    width: 800px ;
    height: 660px ;
    margin-top: 100px;
}

.ofertas img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.ofertas img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}



.lanzamientos{
    width: 100%;
    min-height: max-content;
    position: relative;
    background-color: #37383b;
    text-align: center;
}

.lanzamientos .container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 10px;

}
.lanzamientos h3 {
    margin: 0;
    padding: 20px;
    font-size: 3em;
}

.lanzamientos .container .card {
    width: 300px;
    height: 500px;
    border: 1px solid #111;
    border-radius: 14px;
    overflow: hidden;
    
}

#cardJ img {
    position: relative;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover; 
}

.card img {
    position: relative;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;  
}


footer .box{
    display: flex;
    justify-content: center;
}

.redes{
    display: flex;
    justify-content: space-evenly;
}

.redes a{
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: grey;
    border-radius: 50%;
    box-shadow: 2px 2px 5px whitesmoke;
    transition: all .4s ease-in-out;
}

.redes a:hover{
    transform: scale(1.2);
}
/*HOMBRES*/

.fondoH{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    background: url(/assets/img/Hombres.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}



.fondoH h3 {
    margin: 0%;
    padding: 0%;
    width: 20vw;
    height: 20vh;
    font-size: 5em;
    display: flex;
    position: fixed;
    margin-top: 5px;
}

.cardH{
    width: 150px;
    height: 150px;
    border: 1px solid #111;
    border-radius: 14px;
    background-color: #fff;
}

.contenido{
    max-width: 1100px;
    width: 100%;
    margin: 40 px auto;
    display: flex;
}

.mostrador{
    width: 100%;
    transition: .5s ease;
}

.mostrador .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.mostrdor .fila .item{
    max-width: 210px;
    padding: 30px;
    height: 250px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

.mostrador .fila .item:hover{
    background-color: #e6e6e686;
}

.mostrador .fila .item img{
    width: 100%;
    margin: 30px;
}

.mostrador .fila .item .descripcion{
    color: #707070;
    font-weight: bold;
    
}

.nike{
    width: 10vw ;
    height: 25vh;
}

/*MUJERES*/

.fondoM{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    background: url(/assets/img/zapas\ fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/*OFERTAS*/
.fondoO{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    background: url(/assets/img/Caja\ fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/*Contacto*/
.fondoC{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    background: url(/assets/img/Varias\ zapas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1,5em;
}

.contacto{
    text-align: center;
    font-size: 5em;
    color: #000000;
}

.contacto-wrapper{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contacto-wrapper > * {
    padding: 1em;
}

.contacto-form{
    background: #000000;
}

.contacto-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contacto-form form label{
    display: block;
}

.contacto-form form .block{
    grid-column: 1 / 3;
}

.contacto-form form p {
    margin: 0;
    padding: 1em;
}

.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid grey;
}

.contacto-form form buton{
    background: whitesmoke ;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contacto-form form button:hover,
.contacto-formform buttom:focus {
    background: grey;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contacto-info{
    background: #000000;
}

.contacto-info h4,
.contacto-info ul,
.contacto-info p {
    text-align: center;
    padding: 0;
    margin: 0 0 1 rem 0;
}

.contacto-info ul{
    list-style: none;
    padding: 0;
}

.contacto-info ul li {
    padding: .4em;
}

*::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #7d7d7d;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #000000;
  }


  @media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}